.MuiListItem-root>.css-69n1rc-JoyListItemButton-root:hover,
.MuiListItemButton-root:hover {
    background-color: #689ccf75!important;
    border-radius: 2px!important;
    color: white!important;
}

.MuiListItem-root>.css-69n1rc-JoyListItemButton-root,
.MuiListItemButton-root {
    color: white!important;
    font-weight: 500!important;
    // margin: 0 0.2rem!important;
}

.css-i4bv87-MuiSvgIcon-root,
.css-vubbuv {
    color: white!important;
}

.css-8hm8pj-JoyTypography-root {
    text-align: start;
}